

body{
    background-color:red;
}
#Cabecalho {
    text-align: center;
    border-width: 2px;
    border-color: blue;
    border-style: solid;

}

.img {
    
    width: 45;
}


.fontpatten{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;

}




p {
    line-height: 1.5;
    
}